<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
	<th>Type</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.description %></td>
	<td><%=h Article::TYPES.find{|obj| obj[1]==article.article_type}[0]%></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
  	<td><br/><br/></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article', new_article_path %>